/*
    http://work.smarchal.com/twbscolor/css/e74c3cc0392becf0f1ffbbbc0
*/

.navbar-custom {
  background-color: #3770bb;
  border-color: #3e407c;
}
.navbar-custom .navbar-brand {
  color: #f9f2f4;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: #f6d557;
}
.navbar-custom .navbar-text {
  color: #f9f2f4;
}
.navbar-custom .navbar-nav > li > a {
  color: #f9f2f4;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: #f6d557;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #f6d557;
  background-color: #3e407c;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
  color: #f6d557;
  background-color: #3e407c;
}
.navbar-custom .navbar-toggle {
  border-color: #3e407c;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #3e407c;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #f9f2f4;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #f9f2f4;
}
.navbar-custom .navbar-link {
  color: #f9f2f4;
}
.navbar-custom .navbar-link:hover {
  color: #f6d557;
}

@media (max-width: 767px) {
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #3e407c;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #f6d557;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #f6d557;
    background-color: #3e407c;
  }
}


/*
*/

/*
.navbar-custom {
    background-color:#229922;
    color:#2299ff;
    border-radius:5;
}

.navbar-custom .navbar-nav > li > a {
    color:#fff;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color:transparent;
}
.navbar-custom .navbar-brand {
    color:#eeeeee;
}*/


/* 
  Sticky footer styles
  https://www.codementor.io/tips/4292721368/twitter-bootstrap-3-sticky-footer
*/
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 30px;
}
footer {
  position: absolute;
  bottom: 0;
  margin-left: 1%;
  width: 99%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: #f5f5f5;
}

