/testws/old/*.html~
/testws/old/*.js~
/lib/*.js~
/docs/old/dist-demo/folders/resources/images/icons/BALTIM~1.ICO
/docs/old/dist-demo/folders/resources/images/icons/BULLWI~1.ICO
/docs/old/dist-demo/folders/resources/images/icons/CALIFO~1.ICO
/docs/old/dist-demo/folders/resources/images/icons/CARDIN~1.ICO
/docs/old/dist-demo/folders/resources/images/icons/CLEVEL~1.ICO
/docs/old/dist-demo/folders/resources/images/icons/FLOPAR~1.ICO
/docs/old/dist-demo/folders/resources/images/icons/LOSANG~1.ICO
/docs/old/dist-demo/folders/resources/images/icons/MILWAU~1.ICO
/docs/old/dist-demo/folders/resources/images/icons/MINNES~1.ICO
/docs/old/dist-demo/folders/resources/images/icons/PHILAD~1.ICO
/docs/old/dist-demo/folders/resources/images/icons/PITTSB~1.ICO
/docs/old/dist-demo/ohas/webif/images/icons/BALTIM~1.ICO
/docs/old/dist-demo/ohas/webif/images/icons/BULLWI~1.ICO
/docs/old/dist-demo/ohas/webif/images/icons/CALIFO~1.ICO
/docs/old/dist-demo/ohas/webif/images/icons/CARDIN~1.ICO
/docs/old/dist-demo/ohas/webif/images/icons/CLEVEL~1.ICO
/docs/old/dist-demo/ohas/webif/images/icons/FLOPAR~1.ICO
/docs/old/dist-demo/ohas/webif/images/icons/LOSANG~1.ICO
/docs/old/dist-demo/ohas/webif/images/icons/MILWAU~1.ICO
/docs/old/dist-demo/ohas/webif/images/icons/MINNES~1.ICO
/docs/old/dist-demo/ohas/webif/images/icons/PHILAD~1.ICO
/docs/old/dist-demo/ohas/webif/images/icons/PITTSB~1.ICO
/docs/old/dist-demo/ohas/webif/images/icons/SANFRA~1.ICO
/docs/old/dist-demo/ohas/webif/images/icons/VECTOR~1.ICO
