
.photo {
    width: 600px;
    height: 450px;
    background-color: #000;
    background-position: center;
    background-repeat: no-repeat;
}

#StartBtn > div {
    display: inline-block;
    margin-top: 40px;
}

#StopBtn > div {
    display: inline-block;
}
